<app-titulo [titulo]="'Perfil'" [botaoListar]="false"></app-titulo>
<div class="card rounded shadow-sm">
	<form [formGroup]="formularioPerfil">
		<div class="row p-3">
			<div class="col-lg-3 pt-1">
				<div class="card mb-3">
							<!-- <pre>{{formularioPerfil.value | json}}</pre>
							<pre>{{formularioPerfil.status | json}}</pre>
							<pre>Errors confirmar senha: {{f.confirmarSenha.errors | json}}</pre>
							<pre>Valido Confirmar senha: {{f.confirmarSenha.valid | json}}</pre> -->
					<div class="card-header"></div>
					<div class="d-flex align-self-center pt-3">
						<a>
							<img
							src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
							name="aboutme" width="120" height="120" class="rounded-circle">
						</a>
					</div>
					<div class="card-body">
						<div class="h4 text-center mb-3">@UserName</div>
						<div class="h7 text-bold pb-1"><b>Nome:</b> Miracles Lee Cross</div>
						<div class="h7">
							Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
							etc.
						</div>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<div class="row">
								<div class="col-6 text-center border-right">
									<div class="h5">1342</div>
									<div class="h6 text-muted">Eventos Ministrados</div>
								</div>
								<div class="col-6 text-center">
									<div class="h5">1342</div>
									<div class="h6 text-muted">Eventos Participados</div>
								</div>
							</div>
						</li>
					</ul>
					<div class="card-footer"></div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="row">
					<div class="col-12">
						<h3 class="border-bottom">Detalhe Perfil</h3>
					</div>
					<div class="col-sm-3">
						<label>Título</label>
						<select
							class="form-control" 
							formControlName="titulo" 
							[ngClass]="
							{
								'is-invalid': f.titulo?.invalid && f.titulo?.touched,
								'is-valid': f.titulo?.valid
							}"
						>
							<option value="NaoInformado">Não Quero</option>
							<option value="Tecnologo">Tecnólogo(a)</option>
							<option value="Bacharel">Bacharel</option>
							<option value="Especialista">Especialista</option>
							<option value="PosGraduado">Pós Graduado(a)</option>
							<option value="Mestrado">Mestre</option>
							<option value="Doutorado">Doutor(a)</option>
							<option value="PosDoutorado">Pós Doc</option>
						</select>
						<div *ngIf="f.titulo?.errors && (f.titulo?.touched || f.titulo?.dirty)" class="invalid-feedback">Campo Obrigatorio</div>
						<div *ngIf="f.titulo?.valid && (f.titulo?.touched || f.titulo?.dirty)" class="valid-feedback">Ok.</div>
					</div>

					<div class="col-sm-5">
						<label>Primeiro Nome</label>
						<input
							type="text"
							class="form-control"
							formControlName="primeiroNome"
							[ngClass]="
							{
								'is-invalid': f.primeiroNome?.errors && f.primeiroNome?.touched,
								'is-valid': f.primeiroNome?.valid,
							}"
						/>
					<div *ngIf="f.primeiroNome?.invalid" class="invalid-feedback">Nome Obrigatório.</div>
					<div *ngIf="f.primeiroNome?.valid" class="valid-feedback">Ok.</div>
					</div>
					<div class="col-sm-4">
						<label>Último nome</label>
						<input 
							type="text"
							class="form-control"
							formControlName="ultimoNome"
							[ngClass]="
							{
								'is-invalid': f.ultimoNome?.errors && f.ultimoNome?.touched,
								'is-valid': f.ultimoNome?.valid,
							}"
						/>
						<div *ngIf="f.ultimoNome?.invalid" class="invalid-feedback">
							<div *ngIf="f.ultimoNome?.errors.required && (f.ultimoNome?.touched || f.ultimoNome?.dirty)">Ultimo Nome Obrigatório.</div>
						</div>
						<div *ngIf="f.ultimoNome?.valid" class="valid-feedback">Ok.</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5">
						<label>E-mail</label>
						<input
							type="email" 
							class="form-control" 
							formControlName="email"
							[ngClass]="
							{
								'is-invalid': f.email?.errors && f.email.touched,
								'is-valid': f.email?.valid
							}"
						/>
						<div *ngIf="f.email?.errors && (f.email?.dirty || f.email?.touched)" class="invalid-feedback">
							<div *ngIf="f.email?.errors.email" >Email é Invalido</div>
							<div *ngIf="f.email?.errors.required" >Email é obrigatório</div>
						</div>
						<div *ngIf="f.email?.valid" class="valid-feedback">Ok.</div>
					</div>
					<div class="col-sm-4">
						<label>Telefone</label>
						<input 
							type="tel" 
							class="form-control" 
							placeholder="(000) 0000000"
							formControlName="telefone"
							pattern="[0-9]*"
							[ngClass]="
							{
								'is-invalid': f.telefone?.errors && f.telefone?.touched,
								'is-valid': f.telefone?.valid
							}"
						/>
					<div *ngIf="f.telefone?.errors && (f.telefone?.touched || f.telefone?.dirty)" class="invalid-feedback">
						<div *ngIf="f.telefone?.errors.pattern">Numero Inválido.</div>
						<div *ngIf="f.telefone?.errors.required">Numero Obrigatório.</div>
					</div>
					<div *ngIf="f.telefone.valid" class="valid-feedback">Ok.</div>
					</div>
					<div class="col-sm">
						<label>Função</label>
						<select
							class="form-control"
							formControlName="funcao"
							[ngClass]="
							{
								'is-invalid': f.funcao?.errors && f.funcao?.touched,
								'is-valid': f.funcao?.valid,
							}"
						>
							<option value="participante">Participante</option>
							<option value="palestrante">Palestrante</option>
						</select>
						<div *ngIf="f.funcao?.errors && (f.funcao?.touched || f.funcao?.dirty)" class="invalid-feedback">
							<div *ngIf="f.funcao.errors?.required && (f.funcao?.dirty || f.funcao?.touched)">Obrigatório selecionar uma Função.</div>
						</div>
						<div *ngIf="f.funcao?.valid" class="valid-feedback">Ok.</div>
					</div>
					<div class="col-12">
						<label>Descrição</label>
						<input 
							type="text"
							class="form-control"
							formControlName="descricao"
							[ngClass]="{'is-valid': f.descricao?.touched}"
						/>
					</div>
				</div>
				<div>
					<h3 class="pt-3 border-bottom">Mudar Senha</h3>
					<p>Caso mude de senha, preencha os campos abaixo:</p>
				</div>
				<div class="row mb-2">
					<div class="col-sm">
						<label>Senha</label>
						<input 
							type="password" 
							class="form-control" 
							formControlName="senha"
							[ngClass]="
							{
								'is-invalid': f.senha?.errors && f.senha?.touched,
								'is-valid': f.senha?.valid,
							}"
						/>
						<div *ngIf="f.senha?.errors && (f.senha?.touched || f.senha?.dirty)" class="invalid-feedback">
							<div *ngIf="f.senha?.errors?.required && (f.senha?.touched || f.senha?.dirty)">Senha é obrigatório.</div>
						</div>
						<div *ngIf="f.senha?.valid" class="valid-feedback">Senha Ok.</div>
					</div>
					<div class="col-sm">
						<label>Confirmar Senha</label>
						<input
							type="password"
							class="form-control"
							formControlName="confirmarSenha"
							[ngClass]="
							{
								'is-invalid': f.confirmarSenha?.errors && f.confirmarSenha?.touched,
								'is-valid': f.confirmarSenha?.valid,
							}"
						/>
						<div *ngIf="f.confirmarSenha?.errors && ( f.confirmarSenha?.touched || f.confirmarSenha?.dirty)" class="invalid-feedback">
								<div *ngIf="f.confirmarSenha?.errors?.required && (f.confirmarSenha?.touched || f.confirmarSenha?.dirty)">Confirmar senha é Obrigatório.</div>
								<div *ngIf="f.confirmarSenha?.errors?.passwordMismatch && (f.confirmarSenha?.touched || f.confirmarSenha?.dirty)">Senhas não coencidem.</div>
						</div>
						<div *ngIf="f.confirmarSenha?.valid" class="valid-feedback">Ok.</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card card-footer p-2">
			<div class="row justify-content-evenly mx-1">
				<div class="col">
					<button class="btn btn-outline-secondary mr-auto border">
						Cancelar Alteração
					</button>
				</div>
				<div class="col text-end">
					<button class="btn btn-success" [disabled]="!formularioPerfil.valid">
						Salvar Alteração
					</button>
				</div>
			</div>
		</div>
	</form>
</div>